@import url('https://fonts.googleapis.com/css?family=Lato|Josefin Sans|Montserrat|Pacifico|Righteous|Poppins|Roboto|Roboto+Condensed|Ubuntu');
body {
    margin: 0%;
    padding: 0%;
    font-family: "Lato";
    margin-top: 70px;
}

* {
    box-sizing: border-box;
}
.navbar{
    border-bottom: #008ed6 3px solid;
    background-color: #40474e;
}

.navbar-brand {
    font-family: "Montserrat";
    font-size: 35px;
    color: lightcoral !important;
}

.nav-link {
    font-size: 16px;
    margin: 15px;
    color: white !important;
    font-family: "Ubuntu";
}

.nav-link:hover {
    color: #00e8e8 !important;
}

.active .nav-link {
    color: #00e8e8 !important;
}

.carousel-item {
    height: 100vh;
}

.carousel-caption {
    position: absolute;
    top: 38%;
    text-transform: uppercase;
    width: 100%;
    right: 0;
    left: 0;
}

.carousel-caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.carousel-caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
}

.card img {
    height: 150px;
}

.navbar-brand img {
    height: 4rem;
}

.narrow {
    width: 75%;
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 25px;
}

.btn-md {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin: 1rem;
}

.portfolio {
    max-width: 100%;
    transition: transform .5s ease;
    overflow: hidden;
    margin-bottom: 0;
}


.portfolio:hover {
    transform: scale(1.1);
    cursor: zoom-in;
}

.row.padding [class*=col-] {
    padding-top: 0;
    height: 80vh;
}

/* showcase-right*/

.section-pastor {
    max-width: 100%;
    transition: transform .5s ease;
    overflow: hidden;
}

.showcase-right img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
}

.showcase-right img {
    overflow: hidden;
    transition: transform .5s ease;
}

/* card */

.card {
    margin: 2rem;
    max-width: 100%;
    transition: transform .5s ease;
    overflow: hidden;
}

.card img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
}

.card img {
    overflow: hidden;
}

.btn {
    margin: 0 auto;
    justify-content: center;
}

.offset::before {
    height: 4rem;
    margin-top: .5rem;
    content: "";
    display: block;
}

/* creative*/

#main-container {
    background: url("images/worship.JPG") no-repeat;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
}
.dark-overlay {
    background-color: rgba(0, 0, 0.0.7);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 700px;
}

.main-inner {
    padding-top: 150px;
}
#main-footer{
    height: 180px;
}
#portfolio .jumbotron {
    border-radius: 0;
    padding: 3rem 0 2rem;
    margin-bottom: 0;
    margin-top: 0;
    background-image: url("images/c3ea.JPG");
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
}
#church .jumbotron {
    border-radius: 0;
    padding: 3rem 0 2rem;
    margin-bottom: 0;
    background-image: url("images/c3ea.JPG");
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
}


h3.heading {
    font-size: 1.9rem;
    font-weight: 700;
    padding-bottom: 1rem;
    padding-top: 0;
}

.heading-underline {
    width: 4rem;
    height: .2rem;
    background-color: #00E8E8;
    margin: 0 auto 2rem;
}

footer {
    background-color: #40474e;
    color: white;
    padding: 2rem 0 3rem;
    margin-top: 0;
}

footer img {
    height: 4rem;
    margin: 1.5rem 0;
}

footer a {
    color: white;
}

footer svg.svg--inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer svg.svg--inline--fa:hover {
    color: #1ebba3;
}

hr.socket {
    border-top: .2rem solid #666b71;
    width: 100%;
}

@media (max-width:767px) {
    .carousel-caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .carousel-caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .btn-lg {
        font-size: 1rem;
    }
}

/* Section-pastor */
.section-pastor{
    margin-top: 0;
}

.section-pastor .para-1 {
    font-family: Roboto Condensed;
    color: white;
    margin-top: 40px;
    font-size: 20px;
}

/*Showcase */

#give {
    background: #f1f1f1;
    padding: 30px 0 10px 0;
    text-align: center;
}

#give h1 {
    font-size: 40px;
}

#give p {
    font-size: 20px;
    font-family: "Montserrat";
    color: #000;
}

.showcase-btn {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

/* info */

#info .info-right {
    margin: 20px 0 60px 0;
}

#info .info-left {
    margin: 20px 0 60px 0;
}

/* contact */

#contact-form {
    background-image: url("images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 41px;
    color: #fff;
    border: none;
    top: 0;
    left: 0;
    min-height: 700px;
}

.main-inner {
    padding-top: 150px;
}
#main-footer{
    height: 180px;
    margin-bottom: 0%;
}
/*-----share-head-section----*/
#share-head-section{
    margin-top: 10px;
    padding: 10px;
}

/*-----culture--------*/

.gallery{
    margin: 10px 50px;
}
.gallery-heading{
    color: forestgreen;
    font-family: Roboto;
}

.gallery img{
    width: 230px;
    padding: 5px;
    height: 150px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}

